<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobInfoDao">
	
	<resultMap id="XxlJobInfo" type="com.xxl.job.admin.core.model.XxlJobInfo" >
		<result column="id" property="id" />
	
		<result column="job_group" property="jobGroup" />
	    <result column="job_cron" property="jobCron" />
		<result column="job_name" property="jobName" />
	    <result column="job_desc" property="jobDesc" />
	    
	    <result column="add_time" property="addTime" />
	    <result column="update_time" property="updateTime" />
	    
	    <result column="author" property="author" />
	    <result column="alarm_email" property="alarmEmail" />

		<result column="executor_route_strategy" property="executorRouteStrategy" />
		<result column="executor_handler" property="executorHandler" />
	    <result column="executor_param" property="executorParam" />
		<result column="executor_block_strategy" property="executorBlockStrategy" />
		<result column="executor_fail_strategy" property="executorFailStrategy" />
	    
	    <result column="glue_type" property="glueType" />
	    <result column="glue_source" property="glueSource" />
	    <result column="glue_remark" property="glueRemark" />
		<result column="glue_updatetime" property="glueUpdateTime" />

		<result column="child_jobid" property="childJobId" />
		<result column="custom_param" property="customParam" />
		<result column="resource_id" property="resourceId" />
		<result column="type_id" property="typeId" />
		<result column="folder_id" property="folderId" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.job_group,
		t.job_cron,
		t.job_name,
		t.job_desc,
		t.add_time,
		t.update_time,
		t.author,
		t.alarm_email,
		t.executor_route_strategy,
		t.executor_handler,
		t.executor_param,
		t.executor_block_strategy,
		t.executor_fail_strategy,
		t.glue_type,
		t.glue_source,
		t.glue_remark,
		t.glue_updatetime,
		t.child_jobid,
		t.custom_param,
		t.resource_id,
		t.type_id,
		t.folder_id
	</sql>


	<select id="findAll" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		ORDER BY t.`id`DESC
		LIMIT #{offset}, #{pagesize}
	</select>


	<select id="allJobList" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		ORDER BY id DESC
	</select>

	<select id="counts" resultType="java.lang.Long">
		SELECT COUNT(*)
		FROM XXL_JOB_QRTZ_TRIGGER_INFO
	</select>

	<select id="pageList" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gt 0"><!--如果大于0-->
				AND t.job_group = #{jobGroup}
			</if>
			<if test="jobDesc != null and jobDesc != ''">
				AND t.job_desc like CONCAT(CONCAT('%', #{jobDesc}), '%')
			</if>
			<if test="executorHandler != null and executorHandler != ''">
				AND t.executor_handler like CONCAT(CONCAT('%', #{executorHandler}), '%')
			</if>
		</trim>
		ORDER BY id DESC
		LIMIT #{offset}, #{pagesize}<!--mybatis中实现分页查询-->
	</select>
	
	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		<!--prefix:在trim标签内sql语句加上前缀
		prefixOverrides:指定去除多余的前缀内容-->
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gt 0">
				AND t.job_group = #{jobGroup}
			</if>
			<if test="jobDesc != null and jobDesc != ''">
				<!--“%zhang%”模糊查询, concat连接字符串-->
				AND t.job_desc like CONCAT(CONCAT('%', #{jobDesc}), '%')
			</if>
			<if test="executorHandler != null and executorHandler != ''">
				AND t.executor_handler like CONCAT(CONCAT('%', #{executorHandler}), '%')
			</if>
		</trim>
	</select>


	<select id="pageListByGlueType" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gte 0">
				AND t.job_group = #{jobGroup}
			</if>
			<if test="glueType != null and glueType != ''">
				AND t.glue_type like CONCAT(CONCAT('%', #{glueType}), '%')
			</if>
		</trim>
		ORDER BY id DESC
		LIMIT #{offset}, #{pagesize}<!--mybatis中实现分页查询-->
	</select>

	<select id="pageListCountByGlueType" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		<!--prefix:在trim标签内sql语句加上前缀
		prefixOverrides:指定去除多余的前缀内容-->
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gte 0">
				AND t.job_group = #{jobGroup}
			</if>
			<if test="glueType != null and glueType != ''">
				<!--“%zhang%”模糊查询, concat连接字符串-->
				AND t.glue_type like CONCAT(CONCAT('%', #{glueType}), '%')
			</if>
		</trim>
	</select>



	<insert id="save" parameterType="com.xxl.job.admin.core.model.XxlJobInfo" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO XXL_JOB_QRTZ_TRIGGER_INFO (
			job_group,
			job_cron,
		    job_name,
			job_desc,
			add_time,
			update_time,
			author,
			alarm_email,
            executor_route_strategy,
			executor_handler,
			executor_param,
			executor_block_strategy,
			executor_fail_strategy,
			glue_type,
			glue_source,
			glue_remark,
			glue_updatetime,
			child_jobid,
		    custom_param,
		    resource_id,
		    folder_id,
			type_id
		) VALUES (
			#{jobGroup},
			#{jobCron},
		    #{jobName},
			#{jobDesc},
		    #{addTime},
		    #{updateTime},
			#{author},
			#{alarmEmail},
			#{executorRouteStrategy},
			#{executorHandler},
			#{executorParam},
			#{executorBlockStrategy},
			#{executorFailStrategy},
			#{glueType},
			#{glueSource},
			#{glueRemark},
		    #{glueUpdateTime},
			#{childJobId},
		    #{customParam},
		    #{resourceId},
			#{folderId},
			#{typeId}
		);
		<!--<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
			/*SELECT @@IDENTITY AS id*/
		</selectKey>-->
	</insert>

	<select id="loadById" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		WHERE t.id = #{id}
	</select>

	<select id="loadByName" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		WHERE t.job_name = #{jobName}
	</select>
	
	<update id="update" parameterType="com.xxl.job.admin.core.model.XxlJobInfo" >
		UPDATE XXL_JOB_QRTZ_TRIGGER_INFO
		SET 
			job_cron = #{jobCron},
			job_name = #{jobName},
			job_desc = #{jobDesc},
			job_group = #{jobGroup},
			update_time = #{updateTime},
			author = #{author},
			alarm_email = #{alarmEmail},
			executor_route_strategy = #{executorRouteStrategy},
			executor_handler = #{executorHandler},
			executor_param = #{executorParam},
			executor_block_strategy = #{executorBlockStrategy},
			executor_fail_strategy = #{executorFailStrategy},
			glue_type = #{glueType},
			glue_source = #{glueSource},
			glue_remark = #{glueRemark},
			glue_updatetime = #{glueUpdateTime},
			child_jobid = #{childJobId},
			custom_param = #{customParam},
			resource_id = #{resourceId}
		WHERE id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM XXL_JOB_QRTZ_TRIGGER_INFO
		WHERE id = #{id}
	</delete>

	<select id="getJobsByGroup" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		WHERE t.job_group = #{jobGroup}
	</select>

	<select id="findAllCount" resultType="int">
		SELECT count(1)
		FROM XXL_JOB_QRTZ_TRIGGER_INFO
	</select>

	<select id="getNewestJob" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		select <include refid="Base_Column_List" />
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		ORDER BY id DESC
		LIMIT 1
	</select>

	<select id="getUsedResources" parameterType="java.util.HashMap" resultType="int">
		SELECT DISTINCT t.resource_id
		FROM XXL_JOB_QRTZ_TRIGGER_INFO AS t
		WHERE resource_id > 0
	</select>

</mapper>